/*Estilos para tablas de listados */
table, table td, table tr {
	padding:0px;
	border-spacing: 0px;
}

table {
	background-color: #FFFFFF;
	border:1px black solid;
	border-radius:5px;
	min-width:400px;
	font-family:"Times New Roman", Times, serif;
	font-size:18px;
	width:700px;
}

table td {
	padding:6px;
}

table tr:first-child td:first-child {
	border-radius:5px 0px 0px 0px;
}

table tr:first-child td:last-child {
	border-radius:0px 5px 0px 0px;
}

table tr:last-child td:first-child {
	border-radius:0px 0px 0px 5px;
}

table tr:last-child td:last-child {
	border-radius:0px 0px 5px 0px;
}

table td:not(:last-child) {
	border-right:0px #666 solid;
}